
.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: rgb(0, 0, 0);
    background-color: #46f3f3;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(136, 147, 248);
}

.button:hover {background-color: #5173e4}

.button:active {
    background-color: #0d1cba;
    box-shadow: 0 5px rgb(20, 13, 79);
    transform: translateY(4px);
}
tbody tr:nth-child(odd) {
    background-color: #6dc4f0;
}

tbody tr:nth-child(even) {
    background-color: #3563e0;
}

table {
    background-color: #7b8c8d;
}
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid rgb(4, 87, 136);
}   
caption {
    font-family: 'Rock Salt', cursive;
    padding: 5px;
    font-style: italic;
    caption-side: bottom;
    color: rgb(85, 37, 37);
    text-align: right;
    letter-spacing: 1px;
}   
h1{
    text-align: center;
    background-color: aqua;
    color: black;
    width: 100%;
    height: auto;
    
}
.promedio{

    font-size:20px;
    font-family:Courier;
    font-weight:bold;
    font-style:italic;
    line-height:30px;
    letter-spacing:5px;
    text-decoration:underline;
    text-transform:capitalize;
    text-align:right;
    text-indent:30px;
}